* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
}

.logo {
  color: blue;
  text-transform: capitalize;
  font-weight: 500;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
