* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 44, 101);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-nav,
.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

main {
  margin-top: 70px;
}

.jumbotron,
.links {
  width: 50%;
  margin: auto;
  position: relative;
}

.top-circle,
.bottom-circle {
  position: absolute;
  top: 25px;
  right: 325px;
  width: 155px;
  height: auto;
}

.bottom-circle {
  right: 0;
  left: 300px;
  top: 180px;
}

.section-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #9391ff;
}

.subtitle {
  font-size: larger;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.description {
  color: #b3bac5;
  margin-top: 45px;
  font-weight: 400;
}

.jumbotron hr {
  color: #646369;
  margin: 25px 0;
}

.menu-list {
  padding: 0;
  align-items: flex-start;
}

.label-txt {
  color: #9390ff;
  margin-top: 12px;
}

.lists {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.list-item {
  margin: 4px 0;
}

.lists a {
  text-decoration: none;
  color: #fff;
  font-size: 12.6667px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 0;
}

.social-links img {
  width: 14px;
  height: auto;
  margin-right: 8px;
}

.work-link img {
  width: 25px;
  height: auto;
}

#arrow-down,
#arrow-down1 {
  width: 14px;
  height: auto;
}
